.container {
    width: 210px;
    display: flex;
    flex-direction: column;
    color: #60A5FA;
    background-color: #1E293B;
}
.menuTitle {
    display: flex;
    padding: 12.5px 0px 12.5px 16px;
    gap: 8px;
    font-size: 12px;
    background-color: #162032;
}

.menuSub {
    font-size: 12px;
}

.menuSub li {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 42px;
    background-color: #1e293b;
}


.menuSub li::before {
    position: absolute;
    left: 32px;
    top: 16px;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50px;
    background-color: #475569;
}

.active {
    background-color: #3B82F6;
    color: #fff;
}
.active::before {
    background-color: #2A3F5C;

}
.img13 {
    width: 13px;
    height: 13px;
}