.container {
    display: flex;
    flex-direction: column;
}
.searchBarIcon{
    width: 14px;
    height: 14px
}
.searchBarTitle {
    display: flex;
    align-items: center;
}
.searchBarTitle img {
    width: 14px;
    height: 14px;
}
.searchBarTitle span {
    font-size: 13px;
    color: #1B3A6B;
    font-weight: 700;
}
.searchConditionWrapper {
    display: flex;
    gap: 16px;
}
.conditionItem {
    display: flex;
    align-items: center;
    gap: 8px;
}