.inputItem input {
	border: 1px solid #d1d5db;
	width: 100%;
	border-radius: 10px;
}
.normalPadding {
	padding: 16.5px 10px;
}
.inputPadding {
	padding: 12px 44px;
}
.inputItem input::placeholder {
	font-size: 14px;
	font-weight: 400;
}

.inputItem {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 6px;
	font-size: 14px;
}

.iconPositon {
	position: absolute;
	bottom: 18px;
	left: 12px;
}

.beforeIcon {
	position: absolute;
	transform: translateY(159%);
	left: 12px;
}

.afterIcon {
	position: absolute;
	transform: translateY(159%);

	right: 12px;
}
